<!DOCTYPE html>
<html ng-app="BitChow">

<head>
    <title>BitChow</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/app/css/main.css">


    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/app/js/socket.io.js"></script>
    <script src="/node_modules/popper.js/dist/popper.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>

    <script src="/app/js/app.js"></script>
    <script src="/app/js/controllers.js"></script>

</head>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" ng-controller="NavController">

    <a id="navbrand" class="navbar-brand" ng-click="homeClick()">BitChow</a>
    <a class="btn btn-primary btn-light nav-link" ng-click="logOut()"  ng-if="loggedIn" ui-sref='newbie'>LogOut</a>

</nav>

<body>
    <div ui-view></div>
</body>

</html>