#navbrand {
    color: #ffffff;
}

#greeting {
    margin-top: 3%;
}


/* #newTweet {
    text-align: center;
} */

.form {
    margin-top: 5%;
}

.center {
    text-align: center;
}

#intro {
    margin-top: 4%;
    width: auto;
    text-align: center;
}

.drop {
    margin-top: 5%;
}

.nav-item {
    color: #000000;
}